@page
@model IndexModel
@{
    ViewData["Title"] = "Главная";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@
<div class="row">
    <div class="col-md-4">
        <section>
            <img src="~/img/фото пойд-й.png" width="235" height="280" />
            <h4>
                <div>Пойдонова Валентина</div>
                <div class="text-lg-start">Владимировна</div>
            </h4>
        </section>
    </div>
    <div class="col-md-7 col-md-offset-2">
        <section>
            <div class="text-center">
                <h3>
                    Вы находитесь на персональном сайте преподавателя математики Пойдоновой Валентины Владимировны.
                    Мне очень приятно видеть Вас!
                    Желаю приятного и полезного проведения времени на страницах моего сайта!
                </h3>
            </div>
            <div>
                <img src="~/img/на главную/фото на главную 1.jpg" width="230" height="200" />
                <img src="~/img/на главную/фото на главную 2.jpg" width="230" height="200" />
                <img src="~/img/на главную/фото на главную 3.jpg" width="230" height="200" />
            </div>
            <div>
                <img src="~/img/на главную/фото на главную 4.jpg" width="230" height="200" />
                <img src="~/img/на главную/фото на главную 5.jpg" width="230" height="200" />
                <img src="~/img/на главную/фото на главную 6.jpg" width="230" height="200" />
            </div>
        </section>
    </div>
</div>