@page
@model jhyf.Pages.Homeworks.EditModel

@{
    ViewData["Title"] = "Редактирование домашнего задания";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Редактирование домашнего задания</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AddHomework.Id" />
            <div class="form-group">
                <label asp-for="AddHomework.Name" class="control-label"></label>
                <input asp-for="AddHomework.Name" class="form-control" />
                <span asp-validation-for="AddHomework.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddHomework.Zadanie" class="control-label"></label>
                <input asp-for="AddHomework.Zadanie" class="form-control" />
                <span asp-validation-for="AddHomework.Zadanie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddHomework.Opisanie" class="control-label"></label>
                <input asp-for="AddHomework.Opisanie" class="form-control" />
                <span asp-validation-for="AddHomework.Opisanie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />  |
                <a asp-page="./Index">Отмена</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
